{
  "openapi": "3.1.0",
  "info": {
    "title": "eait",
    "version": "v1",
    "license": {
      "name": "AGPL-3.0-only",
      "identifier": "AGPL-3.0-only"
    }
  },
  "servers": [
    {
      "url": "https://api.eait.fit"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "get_health",
        "summary": "Liveness. `demo` says whether the canned analyzer is serving.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/auth/device": {
      "post": {
        "operationId": "post_authDevice",
        "summary": "Trade a client-generated device id for a bearer token. Creates the account on first sight.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthDeviceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthDeviceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/auth/apple": {
      "post": {
        "operationId": "post_authApple",
        "summary": "Sign in with Apple. With a bearer, links the identity to the current account instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthProviderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/google": {
      "post": {
        "operationId": "post_authGoogle",
        "summary": "Sign in with Google. With a bearer, links the identity to the current account instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthProviderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/signout": {
      "post": {
        "operationId": "post_authSignOut",
        "summary": "Drop the caller's own token.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signedOut": {
                      "const": true
                    }
                  },
                  "required": [
                    "signedOut"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/signout/all": {
      "post": {
        "operationId": "post_authSignOutEverywhere",
        "summary": "Drop every token of the caller's account, this one included.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signedOut": {
                      "const": true
                    }
                  },
                  "required": [
                    "signedOut"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/pair": {
      "post": {
        "operationId": "post_authPair",
        "summary": "Mint a short-lived code that hands a browser a session on the caller's account.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairCodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/identities": {
      "get": {
        "operationId": "get_identities",
        "summary": "The identities linked to this account.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/auth/identities/{provider}": {
      "delete": {
        "operationId": "delete_identity",
        "summary": "Unlink one provider. Removing the last way in erases the account; the answer says which.",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlinkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/profile": {
      "get": {
        "operationId": "get_profile",
        "summary": "The caller's profile, targets and limits.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "patch_profile",
        "summary": "Edit the profile. Targets are recomputed; a rejected field comes back as 422.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileRejected"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/onboarding": {
      "get": {
        "operationId": "get_onboarding",
        "summary": "The onboarding copy this server is serving.",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "A Lang code. The account's language when absent, English when unknown.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingContentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/onboarding/events": {
      "post": {
        "operationId": "post_onboardingEvents",
        "summary": "A batch of onboarding funnel events.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/photo": {
      "post": {
        "operationId": "post_photo",
        "summary": "Log a meal from one to four photos. Charged. Streams progress with `accept: application/x-ndjson`.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "`application/x-ndjson` streams one JSON object per line; the last line is the response body.",
            "schema": {
              "type": "string",
              "enum": [
                "application/x-ndjson",
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "caption": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoResponse"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoProgress"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "411": {
            "description": "Length required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/{id}": {
      "patch": {
        "operationId": "patch_meal",
        "summary": "The manual edit. Verdicts are recomputed, never accepted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditMealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMealResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/{id}/photos/{n}": {
      "get": {
        "operationId": "get_mealPhoto",
        "summary": "One stored photo of one of the caller's meals, by position. Bytes with their mime.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/{id}/photos": {
      "post": {
        "operationId": "post_mealPhotos",
        "summary": "Another angle of a logged meal. Stored, not analyzed, not charged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachPhotosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "411": {
            "description": "Length required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/{id}/reanalyze": {
      "post": {
        "operationId": "post_mealReanalyze",
        "summary": "Run the analyzer again over the stored photos. Charged like a photo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealUpdated"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/pending": {
      "get": {
        "operationId": "get_pending",
        "summary": "The caller's live proposals, oldest first.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingMealsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/pending/{id}/confirm": {
      "post": {
        "operationId": "post_pendingConfirm",
        "summary": "Log a proposed meal.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmMealResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/meals/pending/{id}/cancel": {
      "post": {
        "operationId": "post_pendingCancel",
        "summary": "Drop a proposed meal.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "const": "cancelled"
                    }
                  },
                  "required": [
                    "kind"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/messages": {
      "get": {
        "operationId": "get_messages",
        "summary": "The thread, newest page first.",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Page before this sequence number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "operationId": "post_messages",
        "summary": "One turn. Charged when it reaches the model. Streams with `accept: application/x-ndjson`.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "`application/x-ndjson` streams one JSON object per line; the last line is the response body.",
            "schema": {
              "type": "string",
              "enum": [
                "application/x-ndjson",
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/messages/lines": {
      "post": {
        "operationId": "post_messagesLines",
        "summary": "The user's own words and Spud's scripted lines, by id. Not charged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendLinesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendLinesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/messages/{id}": {
      "delete": {
        "operationId": "delete_message",
        "summary": "Delete the caller's own line. A photo line takes its meal with it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "patch_message",
        "summary": "Re-caption a photo line and add angles; the analyzer re-reads every photo. Charged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "`application/x-ndjson` streams one JSON object per line; the last line is the response body.",
            "schema": {
              "type": "string",
              "enum": [
                "application/x-ndjson",
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditLineLast"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoProgress"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Target gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "411": {
            "description": "Length required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/push/token": {
      "post": {
        "operationId": "post_pushToken",
        "summary": "Register this device's Expo push token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_pushToken",
        "summary": "Drop a push token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/diary/day": {
      "get": {
        "operationId": "get_day",
        "summary": "One day of the diary.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD; today by default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/diary/week": {
      "get": {
        "operationId": "get_week",
        "summary": "Daily totals over a window.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window length in days.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeekResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "get_healthTrend",
        "summary": "The health trend this account has stored. Daily aggregates, never samples.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window length in days.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/health/days": {
      "post": {
        "operationId": "post_healthDays",
        "summary": "A batch of daily health aggregates. Upserted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HealthDaysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthDaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/account": {
      "delete": {
        "operationId": "delete_account",
        "summary": "Erase the account and everything it holds.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "const": true
                    }
                  },
                  "required": [
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/subscribe": {
      "post": {
        "operationId": "post_subscribe",
        "summary": "Join the list. Double opt-in: the address is on no list until the emailed link is followed. Redirects to the landing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The address."
                  },
                  "company": {
                    "type": "string",
                    "description": "Honeypot; leave empty."
                  },
                  "source": {
                    "type": "string",
                    "description": "Where the form was."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Redirect to the landing page"
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/subscribe/confirm": {
      "get": {
        "operationId": "get_subscribeConfirm",
        "summary": "The link in the confirmation email. Redirects to the landing.",
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "required": false,
            "description": "The token from the email.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect to the landing page"
          }
        },
        "security": []
      }
    },
    "/v1/unsubscribe": {
      "get": {
        "operationId": "get_unsubscribe",
        "summary": "Leave the list. One click, no login. Redirects to the landing.",
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "required": false,
            "description": "The token from the email.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect to the landing page"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityLevel": {
        "type": "string",
        "enum": [
          "sedentary",
          "light",
          "moderate",
          "active",
          "athlete"
        ]
      },
      "Answered": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "const": "answered"
          },
          "text": {
            "type": "string",
            "description": "Model prose in the user's language. Content, not copy — it passes through unrendered."
          },
          "speaker": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChatSpeaker"
              },
              {
                "type": "null"
              }
            ],
            "description": "Who answered. A coach turn is Gabie's, fallback included; absent or null is Spud."
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "What the user might ask next, in their own words, as chips under the answer. Live turn only: the thread stores the sentence and never the chips, so a stored line carries none. Absent means draw nothing; the app never invents any."
          }
        },
        "required": [
          "kind",
          "text"
        ],
        "additionalProperties": false
      },
      "AppendLine": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "user"
              },
              "text": {
                "type": "string"
              }
            },
            "required": [
              "role",
              "text"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "assistant"
              },
              "scripted": {
                "$ref": "#/components/schemas/ScriptedLineId"
              },
              "params": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": [
              "role",
              "scripted"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "assistant"
              },
              "ask": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "$ref": "#/components/schemas/ChatPromptId"
                  },
                  "line": {
                    "type": "number"
                  }
                },
                "required": [
                  "prompt",
                  "line"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "role",
              "ask"
            ],
            "additionalProperties": false
          }
        ]
      },
      "AppendLinesRequest": {
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppendLine"
            }
          }
        },
        "required": [
          "lines"
        ],
        "additionalProperties": false,
        "description": "`POST /v1/messages/lines`. What the APP may put in the thread without a model turn: the user's own words (an onboarding answer, a choice) and Spud's scripted lines BY ID — never assistant prose from the client. All-or-nothing: one bad line and nothing is written."
      },
      "AppendLinesResponse": {
        "type": "object",
        "properties": {
          "appended": {
            "type": "number"
          },
          "reason": {
            "type": "string",
            "enum": [
              "bad-line",
              "thread-full"
            ],
            "description": "Why nothing was appended: a line the client should fix, or a thread that is full and must stop."
          }
        },
        "required": [
          "appended"
        ],
        "additionalProperties": false
      },
      "AttachPhotosResponse": {
        "type": "object",
        "properties": {
          "mealId": {
            "type": "string"
          },
          "photos": {
            "type": "number"
          }
        },
        "required": [
          "mealId",
          "photos"
        ],
        "additionalProperties": false,
        "description": "What `POST /v1/meals/:id/photos` answers: the meal, and how many photos it now holds.\n\n`photos` is the COUNT the server ended up with, not the number sent — the app renders the strip from it (`PhotoStrip`), and a client that added its own upload to its own stale count would draw a frame for a photo that is not there."
      },
      "AuthDeviceRequest": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Opaque, client-generated, ≥32 chars. The server never derives meaning from it."
          },
          "locale": {
            "type": "string",
            "description": "BCP-47-ish; the server narrows it to a supported `Lang` and falls back to `en`."
          }
        },
        "required": [
          "deviceId"
        ],
        "additionalProperties": false,
        "description": "Device-token authentication.\n\neait's API ships with `resolveUserId` deliberately unwired — it returns null so every route answers 401, \"deliberately useless rather than deliberately open\", and its AGENTS.md says wiring a real scheme \"is its own decision and its own doc\". This is that decision.\n\nA client generates a random device id once, keeps it in the Keychain (`expo-secure-store`), and trades it for a bearer token. Nothing is asked of the user on this path — no address, no password, no card (signing in DOES take an address; this is the path that does not) — which is not laziness: the largest complaint cluster against the incumbent, by a factor of four, is the card-first trial (238 reviews). Nothing to cancel is a product property, and it starts here."
      },
      "AuthDeviceResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "created": {
            "type": "boolean",
            "description": "True the first time this device id was seen — the app routes to onboarding on true."
          }
        },
        "required": [
          "token",
          "userId",
          "created"
        ],
        "additionalProperties": false
      },
      "AuthProviderRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "description": "The provider's ID token (JWT). Verified server-side."
          },
          "nonce": {
            "type": "string",
            "description": "The raw nonce the client generated for this sign-in, if it used one.\n\nApple puts the SHA-256 of the nonce in the token for native sign-in, so the server compares against both the raw value and its hash. Replay protection is worth the extra field."
          },
          "locale": {
            "type": "string",
            "description": "BCP-47-ish, narrowed server-side to a supported `Lang`, falling back to `en`.\n\nRead ONLY when this sign-in creates the account — a client on a fresh install that signs in before it mints a device session. Every other outcome leaves `users.lang` exactly as it is, because by then it is the user's own setting rather than a guess about their phone."
          }
        },
        "required": [
          "idToken"
        ],
        "additionalProperties": false,
        "description": "Sign in with Apple / Google.\n\nThe client sends the provider's ID TOKEN. The server verifies its signature against the provider's JWKS and reads the subject out of the verified claims — it never accepts a client-asserted user id, because a client-asserted identity is not an identity.\n\nIf the request carries a bearer token, this LINKS the identity to that account instead of creating a new one. That is what lets a user try the app anonymously and keep their meals when they sign in — and it is the fix for the anonymous account's real weakness, which is that losing the device loses everything."
      },
      "AuthProviderResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "outcome": {
            "$ref": "#/components/schemas/LinkOutcome"
          },
          "onboarded": {
            "type": "boolean",
            "description": "True when the account still needs onboarding — the app routes on this, not on `outcome`."
          },
          "mergedMeals": {
            "type": "number",
            "description": "Meals moved from the anonymous account on a `merged` outcome. Shown to the user."
          }
        },
        "required": [
          "token",
          "userId",
          "outcome",
          "onboarded"
        ],
        "additionalProperties": false
      },
      "ChatEntry": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "seq": {
                "type": "number"
              },
              "ts": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "const": "user"
              },
              "kind": {
                "type": "string",
                "const": "text"
              },
              "text": {
                "type": "string"
              },
              "clientId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "pendingId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "seq",
              "ts",
              "role",
              "kind",
              "text",
              "clientId",
              "pendingId"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "seq": {
                "type": "number"
              },
              "ts": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "const": "user"
              },
              "kind": {
                "type": "string",
                "const": "photo"
              },
              "text": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "mealId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "seq",
              "ts",
              "role",
              "kind",
              "text",
              "mealId"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "seq": {
                "type": "number"
              },
              "ts": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "const": "assistant"
              },
              "kind": {
                "type": "string",
                "const": "text"
              },
              "text": {
                "type": "string"
              },
              "speaker": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ChatSpeaker"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "seq",
              "ts",
              "role",
              "kind",
              "text",
              "speaker"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "seq": {
                "type": "number"
              },
              "ts": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "const": "assistant"
              },
              "kind": {
                "type": "string",
                "const": "meal"
              },
              "event": {
                "$ref": "#/components/schemas/ChatEvent"
              },
              "mealId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "meal": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/MealRecord"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "seq",
              "ts",
              "role",
              "kind",
              "event",
              "mealId",
              "meal"
            ],
            "additionalProperties": false
          }
        ],
        "description": "One line of the conversation, as the SERVER kept it.\n\nThe thread is stored server-side and the Chat tab is its continuation, so a reinstall or a second device opens on the same conversation. A photo is a bubble that names its meal — the bytes are fetched through the scoped photo route and never carried in a line. A meal card carries the meal's CURRENT record (or null once it is gone), never a copy taken at the time: a stored verdict would describe numbers that have since changed. A proposal's words are in the thread when they are said; its card only once confirmed. `seq` is an opaque cursor, monotonic across the whole store: treat it as an ordering, never as a count of anything."
      },
      "ChatEvent": {
        "type": "string",
        "enum": [
          "logged",
          "updated",
          "redated"
        ],
        "description": "How a meal card came to be in the thread. Wording only; the card reads the meal as it is now."
      },
      "ChatHistoryResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatEntry"
            },
            "description": "Oldest first within the page."
          },
          "before": {
            "type": [
              "number",
              "null"
            ],
            "description": "Pass back as `before` for the next older page; null once the start of the thread is in hand."
          }
        },
        "required": [
          "entries",
          "before"
        ],
        "additionalProperties": false
      },
      "ChatPromptId": {
        "type": "string",
        "enum": [
          "welcome",
          "goal",
          "sex",
          "birth_year",
          "height_cm",
          "weight_kg",
          "target_weight_kg",
          "pace",
          "activity",
          "struggles",
          "country",
          "restrictions",
          "building",
          "summary"
        ],
        "description": "Everything Spud asks or shows, in the order of `copy.md` steps 1–12.\n\nA prompt with a `field` fills a profile column and its answer survives the app being killed. A prompt without one is conversation: asked while the run is live, skipped on a resume that has already passed it (see `resumeAt`)."
      },
      "ChatSpeaker": {
        "type": "string",
        "const": "gabie",
        "description": "Who said an assistant line. Absent is Spud, the host; `gabie` is the nutritionist, and only a coach answer carries it."
      },
      "ConfirmMealResult": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/MealLogged"
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "const": "expired"
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          },
          {
            "$ref": "#/components/schemas/Refusal"
          }
        ]
      },
      "DailyTotals": {
        "type": "object",
        "properties": {
          "kcal": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          },
          "carbs_g": {
            "type": "number"
          },
          "fat_g": {
            "type": "number"
          },
          "satfat_g": {
            "type": "number"
          },
          "fiber_g": {
            "type": "number"
          },
          "sugar_g": {
            "type": "number"
          },
          "sodium_mg": {
            "type": "number"
          },
          "guessed": {
            "type": "boolean",
            "description": "At least one meal in this day is a guess (#47), so every figure derived from these totals is one — the day, what is left of it, and the 20:30 line. On the totals and not recomputed per surface: only `sumTotals` produces a `DailyTotals`, so there is one place it can be wrong."
          }
        },
        "required": [
          "kcal",
          "protein_g",
          "carbs_g",
          "fat_g",
          "satfat_g",
          "fiber_g",
          "sugar_g",
          "sodium_mg",
          "guessed"
        ],
        "additionalProperties": false
      },
      "DayResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "meals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealRecord"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/DailyTotals"
          },
          "targets": {
            "$ref": "#/components/schemas/FoodTargets"
          }
        },
        "required": [
          "date",
          "meals",
          "totals",
          "targets"
        ],
        "additionalProperties": false
      },
      "DayTotals": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "kcal": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          }
        },
        "required": [
          "date",
          "kcal",
          "protein_g"
        ],
        "additionalProperties": false,
        "description": "Per-date sums — the week view's row shape."
      },
      "DeleteLineResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "const": "deleted"
          },
          "mealId": {
            "type": [
              "string",
              "null"
            ]
          },
          "date": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "kind",
          "mealId",
          "date"
        ],
        "additionalProperties": false,
        "description": "`DELETE /v1/messages/:id`. `mealId`/`date` name the meal that went with a photo line, so the client can refresh that day; null when only the line went."
      },
      "EditLineLast": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/MealUpdated"
          },
          {
            "$ref": "#/components/schemas/TargetGone"
          },
          {
            "$ref": "#/components/schemas/Refusal"
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "const": "bad-request"
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "const": "too-many"
              },
              "limit": {
                "type": "number"
              }
            },
            "required": [
              "kind",
              "limit"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "const": "outcome-unknown"
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          }
        ],
        "description": "`PATCH /v1/messages/:id` (#608): the same progress, then one of these last. `bad-request` is a line that cannot be edited (text, or not the caller's kind); `too-many` is the photo bound the server counts against what is already stored."
      },
      "EditMealRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealItem"
            }
          },
          "kcal": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          },
          "carbs_g": {
            "type": "number"
          },
          "fat_g": {
            "type": "number"
          },
          "satfat_g": {
            "type": "number"
          },
          "fiber_g": {
            "type": "number"
          },
          "sugar_g": {
            "type": "number"
          },
          "sodium_mg": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "description": "`PATCH /v1/meals/:id` — the manual edit. The other half of \"you can edit the LLM's answer\", alongside the natural-language path through `/v1/messages`.\n\nThe client sends the numbers it wants stored. It does NOT send `verdicts`, and the field does not exist on this type: verdicts are recomputed server-side from the user's caps after every edit (`verdictsFromTargets` → `visibleVerdicts`). A client that could set them could paint \"good\" over a meal that blows a medical cap, and the person reading that card declared a medical restriction."
      },
      "EditMealResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/MealUpdated"
          },
          {
            "$ref": "#/components/schemas/TargetGone"
          }
        ]
      },
      "Entitlement": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO instant the tier lapses at. Null means never bought, or bought forever — see above."
          },
          "trial": {
            "type": "boolean",
            "description": "Whether the CURRENT period is a free trial rather than a paid one.\n\nThe store knows and nothing else can work it out: an expiry seven days out and an expiry a year out are the same shape, and two days before a yearly renewal looks exactly like two days before a trial ends. Without this the trial reminders fire before every renewal — telling somebody who pays that \"the free week ends\" and that they can stop it and pay nothing.\n\nFalse for an account that has never bought anything, and false for a stored entitlement written before this field existed. That is the safe direction: the failure is a reminder that does not arrive, not a wrong one that does."
          },
          "lapsed": {
            "type": "boolean",
            "description": "Whether this account bought something once and nothing it bought keeps it in now — a subscription that ended, or a lifetime unlock that was refunded. The app asks it to RESUBSCRIBE rather than to subscribe, and nothing on the phone could tell the two apart without this: the server blanks `expiresAt` the moment a grant stops keeping somebody in.\n\nFalse for an account that never bought anything and for one entitled now. OPTIONAL because a server older than the field sends none, which the app reads as false: \"subscribe\" is the ask true of both people. `entitlementFor` always sends it."
          }
        },
        "required": [
          "active",
          "expiresAt",
          "trial"
        ],
        "additionalProperties": false,
        "description": "The paid-tier state of one account, as told to the client.\n\n`expiresAt` is present so a settings screen can say when the subscription renews or ends. It is NOT what the app should branch on: `active` is, because the server is the one that knows what \"now\" is and what grace period the store granted.\n\nNULL `expiresAt` MEANS TWO DIFFERENT THINGS AND `active` IS WHAT SEPARATES THEM:\n\n  { active: false, expiresAt: null }  never bought anything — the overwhelmingly common state   { active: true,  expiresAt: null }  the LIFETIME unlock: entitled, with nothing to expire   { active: true,  expiresAt: <date> } a subscription — or a lifetime holder who ALSO has one,                                        which is why the app must branch on `active`, not on the                                        presence of a date\n\nThat is why nothing may infer \"not entitled\" from a missing date, and why a screen renders the date only when there is one. The lifetime product is a non-consumable, so the store itself has no period to report: RevenueCat sends `expiration_at_ms: null` and there is no honest instant to invent. A far-future sentinel was the alternative and was rejected — every reader would have to know the magic value, and the first one that did not would print the year 9999 to a customer."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": {},
        "description": "Every error body the API can produce, other than the refusals above."
      },
      "FoodTargets": {
        "type": "object",
        "properties": {
          "kcal": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          },
          "satfat_g": {
            "type": "number"
          },
          "sodium_mg": {
            "type": "number"
          }
        },
        "required": [
          "kcal",
          "protein_g"
        ],
        "additionalProperties": false,
        "description": "The user's daily targets. Caps are present ONLY for restrictions the user declared."
      },
      "Goal": {
        "type": "string",
        "enum": [
          "lose",
          "maintain",
          "gain"
        ]
      },
      "HandleTextResult": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/Answered"
          },
          {
            "$ref": "#/components/schemas/MealProposed"
          },
          {
            "$ref": "#/components/schemas/MealUpdated"
          },
          {
            "$ref": "#/components/schemas/MealRedated"
          },
          {
            "$ref": "#/components/schemas/TargetGone"
          },
          {
            "$ref": "#/components/schemas/Refusal"
          }
        ]
      },
      "HealthDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "weight_kg": {
            "type": [
              "number",
              "null"
            ]
          },
          "height_cm": {
            "type": [
              "number",
              "null"
            ]
          },
          "body_fat_pct": {
            "type": [
              "number",
              "null"
            ]
          },
          "lean_mass_kg": {
            "type": [
              "number",
              "null"
            ]
          },
          "active_kcal": {
            "type": [
              "number",
              "null"
            ]
          },
          "resting_kcal": {
            "type": [
              "number",
              "null"
            ]
          },
          "steps": {
            "type": [
              "number",
              "null"
            ]
          },
          "exercise_minutes": {
            "type": [
              "number",
              "null"
            ]
          },
          "workouts": {
            "type": [
              "number",
              "null"
            ]
          },
          "distance_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "asleep_minutes": {
            "type": [
              "number",
              "null"
            ]
          },
          "in_bed_minutes": {
            "type": [
              "number",
              "null"
            ]
          },
          "resting_hr_bpm": {
            "type": [
              "number",
              "null"
            ]
          },
          "hrv_ms": {
            "type": [
              "number",
              "null"
            ]
          },
          "vo2max": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "date",
          "weight_kg",
          "height_cm",
          "body_fat_pct",
          "lean_mass_kg",
          "active_kcal",
          "resting_kcal",
          "steps",
          "exercise_minutes",
          "workouts",
          "distance_km",
          "asleep_minutes",
          "in_bed_minutes",
          "resting_hr_bpm",
          "hrv_ms",
          "vo2max"
        ],
        "additionalProperties": false,
        "description": "One day's health, as this product keeps it: aggregates only, never raw samples.\n\nWIDE ROW ON PURPOSE, rather than a `(metric, value)` table. Adding a metric here is a column AND a contract field, so it breaks the server and the app in one `bun run typecheck`. An EAV table happily accepts a metric that nothing renders and reports success.\n\nEvery field is `number | null` and null means UNKNOWN, never zero. \"No step data\" and \"did not move\" are different claims, and a trend that renders the first as the second draws a confident line through every day the phone was left at home."
      },
      "HealthDaysRequest": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthDay"
            }
          },
          "weightMeasuredAt": {
            "type": "string",
            "description": "When the newest weight reading was TAKEN, as the phone read it off the sample.\n\nOptional, and the server derives a conservative value from the day's own date when it is absent — never from its own clock, which would let a stale batch replayed later beat a correction the user typed in the meantime. See `engine/health.ts`."
          }
        },
        "required": [
          "days"
        ],
        "additionalProperties": false,
        "description": "A batch of daily health aggregates, read off the phone's health store.\n\nDAYS, not samples. The phone aggregates first (`aggregateDays` in `health.ts`) and sends the result, so what crosses the wire and what is stored is the handful of numbers this product uses rather than a per-second heart rate series it has no use for. Special-category data that is not needed is data whose only property is risk.\n\nIdempotent: a day already stored is overwritten, not duplicated. The app re-reads a rolling window on every sync — health data arrives late, so a sync that only looks forward misses the scale that synced hours after the weigh-in and the sleep written the next morning."
      },
      "HealthDaysResponse": {
        "type": "object",
        "properties": {
          "accepted": {
            "type": "number",
            "description": "How many days were stored. A day carrying nothing usable is dropped, not counted."
          },
          "profile": {
            "$ref": "#/components/schemas/ProfileResponse",
            "description": "The profile as it stands AFTER the batch, present only when a weight reading moved it.\n\nReturned rather than left for the client to re-fetch because a new weight means a new calorie target, and the alternative is a screen showing the old plan until something else happens to refresh it."
          }
        },
        "required": [
          "accepted"
        ],
        "additionalProperties": false
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthDay"
            },
            "description": "Most recent first."
          }
        },
        "required": [
          "days"
        ],
        "additionalProperties": false
      },
      "IdentitiesResponse": {
        "type": "object",
        "properties": {
          "identities": {
            "type": "array",
[...]
